/* src/content/ui-styles/matrix/components/menus.css */
html[data-ypp-ui-style="matrix"] tp-yt-paper-dialog,
html[data-ypp-ui-style="matrix"] ytd-menu-popup-renderer,
html[data-ypp-ui-style="matrix"] tp-yt-iron-dropdown,
html[data-ypp-ui-style="matrix"] #contentWrapper tp-yt-iron-dropdown,
html[data-ypp-ui-style="matrix"] ytd-multi-page-menu-renderer {
  background: #001100 !important;
  border: 1px dotted #00ff00 !important;
  border-radius: 0px !important;
  box-shadow: 0 0 20px #00ff00,0 0 40px #00ff00 !important;
  backdrop-filter: blur(12px) !important;
  color: #00ff00 !important;
}
html[data-ypp-ui-style="matrix"] ytd-menu-popup-renderer .ytd-menu-popup-renderer {
  background: transparent !important;
}
html[data-ypp-ui-style="matrix"] .ytp-settings-menu,
html[data-ypp-ui-style="matrix"] .ytp-panel-menu {
  background: #001100 !important;
  border: 1px dotted #00ff00 !important;
  border-radius: 0px !important;
}
html[data-ypp-ui-style="matrix"] .ytp-menuitem {
  color: #00ff00 !important;
  font-family: "Courier New",Courier,monospace !important;
}
html[data-ypp-ui-style="matrix"] .ytp-menuitem:hover {
  background: #002200 !important;
  color: #00ff00 !important;
}
html[data-ypp-ui-style="matrix"] tp-yt-paper-listbox,
html[data-ypp-ui-style="matrix"] tp-yt-paper-item {
  background: transparent !important;
  color: #00ff00 !important;
}
html[data-ypp-ui-style="matrix"] tp-yt-paper-item:hover {
  background: #002200 !important;
}
html[data-ypp-ui-style="matrix"] ytd-notification-renderer {
  background: #001100 !important;
  border-bottom: 1px dotted #00ff00 !important;
  transition: background var(--bounce) !important;
}
html[data-ypp-ui-style="matrix"] ytd-notification-renderer:hover {
  background: #002200 !important;
}
html[data-ypp-ui-style="matrix"] ytd-settings-sidebar-renderer {
  background: #001100 !important;
  border-radius: 0px !important;
  box-shadow: 0 0 10px #00ff00 !important;
  padding: 15px !important;
  border: 1px dotted #00ff00 !important;
}
