@import "../shared/timeline-visibility.css";
@import "./pages/watch.css";

/* StarTube (Classic V3) General Styling */
html[data-ypp-ui-style="startube"] {
  --yt-spec-text-primary: #333333 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

html[data-ypp-ui-style="startube"] ytd-app {
  background-color: #f1f1f1 !important;
}

html[data-ypp-ui-style="startube"] ytd-masthead {
  background: #ffffff !important;
  border-bottom: 1px solid #e2e2e2 !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08) !important;
}
