/* Fluent Forms */
html[data-ypp-card-style="fluent"] ytd-searchbox #container.ytd-searchbox {
    background: var(--flu-surface) !important;
    border: var(--flu-border) !important;
    border-top: var(--flu-border-top) !important;
    border-radius: 4px 0 0 4px !important;
}
html[data-ypp-card-style="fluent"] ytd-searchbox #search-icon-legacy {
    background: var(--flu-surface) !important;
    border: var(--flu-border) !important;
    border-top: var(--flu-border-top) !important;
    border-left: none !important;
    border-radius: 0 4px 4px 0 !important;
}

html[data-ypp-card-style="fluent"] ytd-subscribe-button-renderer yt-button-shape button,
html[data-ypp-card-style="fluent"] .yt-spec-button-shape-next--filled,
html[data-ypp-card-style="fluent"] .yt-spec-button-shape-next--tonal {
    background: var(--flu-surface) !important;
    color: var(--yt-spec-text-primary) !important;
    border: var(--flu-border) !important;
    border-top: var(--flu-border-top) !important;
    border-radius: 4px !important;
    box-shadow: var(--flu-shadow) !important;
    transition: background 0.1s ease !important;
}
html[data-ypp-card-style="fluent"] ytd-subscribe-button-renderer yt-button-shape button:hover,
html[data-ypp-card-style="fluent"] .yt-spec-button-shape-next--filled:hover,
html[data-ypp-card-style="fluent"] .yt-spec-button-shape-next--tonal:hover {
    background: var(--flu-surface-hover) !important;
}
