/* Fluent Menus */
html[data-ypp-card-style="fluent"] tp-yt-paper-dialog,
html[data-ypp-card-style="fluent"] ytd-menu-popup-renderer,
html[data-ypp-card-style="fluent"] ytd-multi-page-menu-renderer,
html[data-ypp-card-style="fluent"] ytd-masthead {
    background: var(--flu-surface) !important;
    backdrop-filter: blur(30px) saturate(200%) !important;
    -webkit-backdrop-filter: blur(30px) saturate(200%) !important;
    border: var(--flu-border) !important;
    border-top: var(--flu-border-top) !important;
    border-radius: var(--flu-radius) !important;
    box-shadow: var(--flu-shadow) !important;
}
