
/* Watch for blood-moon */
#ytd-player { border-radius: 0px; box-shadow: 0 0 15px #8a0303; border: 2px solid #8a0303; }
ytd-segmented-like-dislike-button-renderer { border-radius: 0px; border: 2px solid #8a0303; box-shadow: 0 2px 5px rgba(0,0,0,0.05); }
ytd-comment-thread-renderer { border-radius: 0px; border: 2px solid #8a0303; box-shadow: 0 0 15px #8a0303; margin-bottom: 16px; padding: 16px; }
