
/* Navbar UI for cherry */
ytd-masthead { background: var(--ypp-bg-color) !important; border-bottom: 3px dashed #ffb7b2; box-shadow: 0 4px 15px rgba(255, 183, 178, 0.6); }
ytd-searchbox #container.ytd-searchbox { border-radius: 50px 0 0 50px !important; border: 3px dashed #ffb7b2; }
ytd-searchbox #search-icon-legacy.ytd-searchbox { border-radius: 0 50px 50px 0 !important; border: 3px dashed #ffb7b2; }
#voice-search-button { border-radius: 50% !important; border: 3px dashed #ffb7b2; }
