/* Token Overrides for galaxy */
:root[data-ypp-ui-design="galaxy"],
html[data-ypp-ui-style="galaxy"] {
  --ypp-bg-surface: #0b0c10 !important;
  --ypp-bg-surface-hover: rgba(0, 0, 0, 0.5) !important;
  --ypp-bg-surface-active: rgba(0, 0, 0, 0.5) !important;
  
  --ypp-primary-accent: #0d1b2e !important;
  --ypp-text-primary: #03045e !important;
  
  --ypp-surface-border: 1px solid  var(--ypp-surface-border, #0d1b2e40) !important;
  --ypp-shadow-base: 0 4px 12px #0d1b2e20 !important;
  --ypp-shadow-hover: 0 8px 24px #0d1b2e40 !important;
  
  --yt-font-family: var(--ypp-font-primary, "Space Grotesk","Segoe UI",sans-serif) !important;
}


html[data-ypp-ui-style="galaxy"] * {
  font-family: var(--ypp-font-primary, "Space Grotesk","Segoe UI",sans-serif) !important;
}

