/* Elevated Player */
/* Detach and float the control bar */
html[data-ypp-card-style="elevated"] .ytp-chrome-bottom {
    background: var(--yt-spec-raised-background) !important;
    border-radius: 16px !important;
    box-shadow: var(--el-shadow-heavy) !important;
    width: calc(100% - 32px) !important;
    margin: 16px !important;
    padding-top: 10px !important;
}
/* Lifted scrubber */
html[data-ypp-card-style="elevated"] .ytp-scrubber-button {
    box-shadow: 0 4px 10px rgba(0,0,0,0.5) !important;
    transform: scale(1.2) !important;
}
