
/* Sidebar for blue-sky */
ytd-guide-entry-renderer { border-radius: 30px !important; margin: 4px 12px !important; transition: all 0.2s; }
ytd-guide-entry-renderer[active] { background-color: var(--ypp-accent-color) !important; box-shadow: 0 10px 20px rgba(135, 206, 235, 0.5); }
