/* Icons Geometry UI Design for coffee */
yt-icon {
    transition: all 0.3s ease;
}
yt-icon:hover {
    color: var(--ypp-accent-color) !important;
    filter: drop-shadow(0 0 4px var(--ypp-accent-color));
}

/* SVG specific alterations */
yt-icon svg {
    
    
    filter: sepia(100%) hue-rotate(-30deg) saturate(1.5);
}
