/* Token Overrides for steampunk */
:root[data-ypp-ui-design="steampunk"],
html[data-ypp-ui-design="steampunk"] {
  --ypp-bg-surface: #3b2f2f !important;
  --ypp-bg-surface-hover: rgba(0, 0, 0, 0.5) !important;
  --ypp-bg-surface-active: rgba(0, 0, 0, 0.5) !important;
  
  --ypp-primary-accent: #5c4033 !important;
  --ypp-text-primary: #8b5a2b !important;
  
  --ypp-surface-border: 1px solid  var(--ypp-surface-border, #5c403340) !important;
  --ypp-shadow-base: 0 4px 12px #5c403320 !important;
  --ypp-shadow-hover: 0 8px 24px #5c403340 !important;
  
  --yt-font-family: var(--ypp-font-primary, "Playfair Display","Palatino Linotype",serif) !important;
}


html[data-ypp-ui-design="steampunk"] * {
  font-family: var(--ypp-font-primary, "Playfair Display","Palatino Linotype",serif) !important;
}

