/* Hacker Player */
html[data-ypp-card-style="hacker"] .ytp-chrome-bottom {
    background: var(--hac-bg) !important;
    border: var(--hac-border-hover) !important;
    border-radius: 0 !important;
    margin: 8px !important;
    width: calc(100% - 16px) !important;
    box-shadow: 0 0 15px rgba(0,255,0,0.2) !important;
}
html[data-ypp-card-style="hacker"] .ytp-play-progress {
    background: var(--hac-text) !important;
}
html[data-ypp-card-style="hacker"] .ytp-scrubber-button {
    background: var(--hac-bg) !important;
    border: 2px solid var(--hac-text) !important;
    border-radius: 0 !important;
    transform: scale(0.8) !important;
}
