/* Discord Player */
html[data-ypp-card-style="discord"] .ytp-chrome-bottom {
    background: var(--dis-secondary) !important;
    border-radius: 8px !important;
    margin: 8px !important;
    width: calc(100% - 16px) !important;
}
html[data-ypp-card-style="discord"] .ytp-play-progress {
    background: var(--dis-accent) !important;
}
html[data-ypp-card-style="discord"] .ytp-scrubber-button {
    background: #fff !important;
    border-radius: 50% !important;
}
