/* 
 * ==========================================================================
 * RETRO LOGO
 * ========================================================================== 
 */

/* =========================================
   RETRO 2011 LOGO (From 5285)
========================================= */
body.ypp-retro-logo #logo .style-scope.yt-icon {
    display: none !important;
}

body.ypp-retro-logo #logo-container .logo {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/YouTube_Logo_2011.svg/320px-YouTube_Logo_2011.svg.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
    min-width: 100px !important;
    min-height: 30px !important;
}