/* src/content/themes/ui-styles/claymorphism/components/buttons.css */
html[data-ypp-ui-style=claymorphism] .ytLikeButtonViewModelHost {
  margin-right: 5px;
}
html[data-ypp-ui-style=claymorphism] .ytSegmentedLikeDislikeButtonViewModelSegmentedButtonsWrapper {
  display: flex !important;
  gap: 8px !important;
  background: none !important;
-webkit-backdrop-filter: ;
-filter: ;
  box-shadow: none !important;
  overflow: visible !important;
}