/* src/content/themes/ui-styles/claymorphism/components/menus.css */
html[data-ypp-ui-style=claymorphism] ytd-simple-menu-header-renderer {
  background: none !important;
}
html[data-ypp-ui-style=claymorphism] tp-yt-paper-listbox {
  padding: 10px !important;
}
html[data-ypp-ui-style=claymorphism] tp-yt-paper-listbox {
  background: rgba(255, 255, 255, 0.85) !important;
}