html[data-ypp-ui-style=claymorphism] .ytp-delhi-modern .ytp-chapter-container {
  width: 100% !important;
  padding-left: 10px;
}
html[data-ypp-ui-style=claymorphism] .ytp-play-progress {
  background:
    linear-gradient(
      90deg,
      #f7a8d0,
      #c96ec7) !important;
}
html[data-ypp-ui-style=claymorphism] .ytp-scrubber-button {
  background: white !important;
  border: 3px solid #c96ec7 !important;
}