@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');
/* DRACULA - Unique Typographics, Shapes & Cursors */


/* Global Font Injection */
html[data-ypp-card-style="dracula"],
html[data-ypp-ui-style="dracula"],
html[data-ypp-card-style="dracula"] *,
html[data-ypp-ui-style="dracula"] * {
    font-family: 'Fira Code', monospace !important;
    
}

/* Typography Color Injection */
html[data-ypp-card-style="dracula"] h1,
html[data-ypp-ui-style="dracula"] h1,
html[data-ypp-card-style="dracula"] h2,
html[data-ypp-ui-style="dracula"] h2,
html[data-ypp-card-style="dracula"] h3,
html[data-ypp-ui-style="dracula"] h3,
html[data-ypp-card-style="dracula"] yt-formatted-string,
html[data-ypp-ui-style="dracula"] yt-formatted-string,
html[data-ypp-card-style="dracula"] span,
html[data-ypp-ui-style="dracula"] span {
    color: #ff79c6 !important;
}
html[data-ypp-card-style="dracula"] a:hover,
html[data-ypp-ui-style="dracula"] a:hover,
html[data-ypp-card-style="dracula"] yt-formatted-string:hover,
html[data-ypp-ui-style="dracula"] yt-formatted-string:hover {
    color: #bd93f9 !important;
}


            /* Dev Terminal 8px Radii */
            html[data-ypp-card-style="dracula"] ytd-thumbnail,
            html[data-ypp-ui-style="dracula"] ytd-thumbnail,
            html[data-ypp-card-style="dracula"] ytd-button-renderer,
            html[data-ypp-ui-style="dracula"] ytd-button-renderer {
                border-radius: 8px !important;
            }
        
