/* Pink Forms */
html[data-ypp-card-style="pink"] ytd-searchbox #container.ytd-searchbox {
    background: var(--pin-bg) !important;
    border: var(--pin-border) !important;
    border-radius: 30px 0 0 30px !important;
}
html[data-ypp-card-style="pink"] ytd-searchbox #search-icon-legacy {
    background: var(--pin-bg) !important;
    border: var(--pin-border) !important;
    border-left: none !important;
    border-radius: 0 30px 30px 0 !important;
    color: var(--pin-primary) !important;
}

html[data-ypp-card-style="pink"] ytd-subscribe-button-renderer yt-button-shape button,
html[data-ypp-card-style="pink"] .yt-spec-button-shape-next--filled ,
yt-button-shape button[aria-label*="Download" i],
yt-button-shape button[title*="Download" i] {
    background: var(--pin-primary) !important;
    color: #fff !important;
    border: var(--pin-border) !important;
    border-radius: 30px !important;
    font-weight: 800 !important;
    box-shadow: 0 4px 10px rgba(255, 105, 180, 0.4) !important;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}
html[data-ypp-card-style="pink"] ytd-subscribe-button-renderer yt-button-shape button:hover,
html[data-ypp-card-style="pink"] .yt-spec-button-shape-next--filled:hover ,
yt-button-shape button[aria-label*="Download" i]:hover,
yt-button-shape button[title*="Download" i]:hover {
    transform: scale(1.1) !important;
    background: var(--pin-secondary) !important;
}
