html[data-ypp-ui-style=frutiger-aero] body::before {
  content: "";
  position: fixed;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background: url("chrome-extension://__MSG_@@extension_id__/src/assets/frutiger-aero-bg.jpg") no-repeat center center fixed !important;
  background-size: cover !important;
  z-index: -1;
  filter: blur(4px);
  pointer-events: none;
}

html[data-ypp-ui-style=frutiger-aero] body,
html[data-ypp-ui-style=frutiger-aero] ytd-app {
  background: transparent !important;
  background-color: transparent !important;
}

html[data-ypp-ui-style=frutiger-aero] .mat-chrome {
  background:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(220, 230, 240, 0.85) 45%,
      rgba(190, 210, 220, 0.80) 50%,
      rgba(240, 250, 255, 0.90) 100%);
  border: 1px solid rgba(150, 180, 200, 0.8);
}
html[data-ypp-ui-style=frutiger-aero] tp-yt-app-header {
  background: transparent !important;
}
html[data-ypp-ui-style=frutiger-aero] .tab-content.tp-yt-paper-tab:hover {
  background: rgba(255, 255, 255, 0.6) !important;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.8) !important;
  transform: scale(1.05) !important;
}
html[data-ypp-ui-style=frutiger-aero] tp-yt-paper-tab.iron-selected .tab-content.tp-yt-paper-tab {
  background:
    linear-gradient(
      to bottom,
      rgba(220, 245, 255, 0.9) 0%,
      rgba(140, 210, 250, 0.8) 100%) !important;
  border: 1px solid rgba(130, 210, 250, 0.8) !important;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 1), 0 2px 8px rgba(18, 168, 221, 0.2) !important;
  color: #0b5fa3 !important;
}