/* Token Overrides for abyss */
:root[data-ypp-ui-design="abyss"],
html[data-ypp-ui-style="abyss"] {
  --ypp-surface-bg: #010609 !important;
  --ypp-surface-bg-hover: #020c11 !important;
  --ypp-surface-bg-active: #020c11 !important;
  
  --ypp-primary-accent: #00e5ff !important;
  --ypp-text-primary: #e0f2f1 !important;
  
  --ypp-surface-border: 1px solid #00e5ff40 !important;
  --ypp-shadow-base: 0 4px 12px #00e5ff20 !important;
  --ypp-shadow-hover: 0 8px 24px #00e5ff40 !important;
  
  --yt-font-family: "SF Pro Text",
    "Inter",
    "Segoe UI Variable Text",
    "Segoe UI",
    sans-serif !important;
}


html[data-ypp-ui-style="abyss"] * {
  font-family: "SF Pro Text",
    "Inter",
    "Segoe UI Variable Text",
    "Segoe UI",
    sans-serif !important;
}

