@import "../shared/timeline-visibility.css";
/* Crystal Glass Theme */

/* Note: original author CtorW (Style 24354) */
html[data-ypp-ui-style="crystal-glass"] #masthead > #container,
html[data-ypp-ui-style="crystal-glass"] #chips-content #chips,
html[data-ypp-ui-style="crystal-glass"] .ytSearchboxComponentInputBox,
html[data-ypp-ui-style="crystal-glass"] .ytSearchboxComponentSearchButton,
html[data-ypp-ui-style="crystal-glass"] #voice-search-button,
html[data-ypp-ui-style="crystal-glass"] #buttons > ytd-button-renderer > yt-button-shape > button > yt-touch-feedback-shape,
html[data-ypp-ui-style="crystal-glass"] #icon > #button,
html[data-ypp-ui-style="crystal-glass"] #avatar-btn,
html[data-ypp-ui-style="crystal-glass"] ytd-popup-container tp-yt-iron-dropdown,
html[data-ypp-ui-style="crystal-glass"] #contentContainer,
html[data-ypp-ui-style="crystal-glass"] #items > ytd-guide-entry-renderer[active],
html[data-ypp-ui-style="crystal-glass"] #start > #guide-button,
html[data-ypp-ui-style="crystal-glass"] yt-touch-feedback-shape [aria-hidden="true"],
html[data-ypp-ui-style="crystal-glass"] #dismissible > ytd-button-renderer > yt-button-shape > button,
html[data-ypp-ui-style="crystal-glass"] #description,
html[data-ypp-ui-style="crystal-glass"] #subscribe-button-shape > button,
html[data-ypp-ui-style="crystal-glass"] #top-row.ytd-watch-metadata,
html[data-ypp-ui-style="crystal-glass"] #playlist,
html[data-ypp-ui-style="crystal-glass"] #menu > .ytd-watch-metadata,
html[data-ypp-ui-style="crystal-glass"] ytd-playlist-panel-renderer[modern-panels] #container.ytd-playlist-panel-renderer,
html[data-ypp-ui-style="crystal-glass"] ytd-playlist-panel-video-renderer[selected][use-color-palette],
html[data-ypp-ui-style="crystal-glass"] ytd-miniplayer .ytdMiniplayerComponentContent,
html[data-ypp-ui-style="crystal-glass"] #background.ytd-masthead {
    background: rgba(255, 255, 255, 0.15) !important;
-webkit-backdrop-filter: ;
-filter: ;
    border: 1px solid rgba(255, 255, 255, 0.8) !important;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3) !important;
}

html[data-ypp-ui-style="crystal-glass"] .ytSearchboxComponentInputBox,
html[data-ypp-ui-style="crystal-glass"] .ytSearchboxComponentSearchButton,
html[data-ypp-ui-style="crystal-glass"] #voice-search-button,
html[data-ypp-ui-style="crystal-glass"] #avatar-btn,
html[data-ypp-ui-style="crystal-glass"] ytd-popup-container tp-yt-iron-dropdown,
html[data-ypp-ui-style="crystal-glass"] #dismissible > ytd-button-renderer > yt-button-shape > button,
html[data-ypp-ui-style="crystal-glass"] #description,
html[data-ypp-ui-style="crystal-glass"] #subscribe-button-shape > button,
html[data-ypp-ui-style="crystal-glass"] #top-row.ytd-watch-metadata,
html[data-ypp-ui-style="crystal-glass"] #playlist,
html[data-ypp-ui-style="crystal-glass"] #menu > .ytd-watch-metadata,
html[data-ypp-ui-style="crystal-glass"] ytd-playlist-panel-video-renderer[selected][use-color-palette],
html[data-ypp-ui-style="crystal-glass"] ytd-miniplayer .ytdMiniplayerComponentContent {
    border-radius: 1rem !important;
}

html[data-ypp-ui-style="crystal-glass"] #icon > #button,
html[data-ypp-ui-style="crystal-glass"] #start > #guide-button,
html[data-ypp-ui-style="crystal-glass"] yt-touch-feedback-shape [aria-hidden="true"] {
    border-radius: 50% !important;
}

html[data-ypp-ui-style="crystal-glass"] .ytChipShapeActive {
    color: #ff0000 !important;
    background: rgba(0, 0, 0, 0.15) !important;
-webkit-backdrop-filter: ;
-filter: ;
}

html[data-ypp-ui-style="crystal-glass"] #contentContainer.ytd-app {
    border-radius: 0rem 1rem 0rem 1rem !important;
}


