html[data-ypp-theme='brutalism'] {
    --ypp-bg-base: #ffffff;
    --ypp-bg-surface: #ffffff;
    --ypp-bg-glass: #ffffff;
    --ypp-glass-border: #000000;
    
    --ypp-text-primary: #000000;
    --ypp-text-secondary: #000000;
    
    --ypp-accent: #ff0055;
    --ypp-accent-hover: #ffff00;
    --ypp-accent-glow: rgba(255, 0, 85, 0.3);

    /* SHADOWS */
    --ypp-shadow-card: 4px 4px 0px #000000;
    --ypp-shadow-float: 8px 8px 0px #000000;
    --ypp-shadow-glow: 0 0 24px rgba(255, 0, 85, 0.3);
    --ypp-shadow-accent-glow: 0 0 32px rgba(255, 0, 85, 0.3);
}
