
/* Panels for brutalism */
#description.ytd-watch-metadata { border-radius: 0px !important; border: 4px solid #000 !important; padding: 16px !important; }
ytd-live-chat-frame { border-radius: 0px !important; border: 4px solid #000 !important; }
