
/* Panels for aurora */
#description.ytd-watch-metadata { border-radius: 20px !important; border: 1px solid rgba(255,255,255,0.1) !important; padding: 16px !important; }
ytd-live-chat-frame { border-radius: 20px !important; border: 1px solid rgba(255,255,255,0.1) !important; }
