/* src/content/ui-styles/galaxy/components/navbar.css */
html[data-ypp-ui-style="galaxy"] ytd-masthead,
html[data-ypp-ui-style="galaxy"] #masthead-container {
  background: #450256 !important;
  border-bottom: 1px solid rgba(0,240,255,0.3) !important;
  box-shadow: 0 0 20px rgba(0,240,255,0.2) !important;
}
html[data-ypp-ui-style="galaxy"] ytd-topbar-logo-renderer {
  border-radius: 16px !important;
  padding: 0 !important;
  max-height: 45px !important;
  transition: transform var(--bounce), box-shadow var(--bounce) !important;
}
html[data-ypp-ui-style="galaxy"] ytd-topbar-logo-renderer:hover {
  transform: scale(1.05) !important;
  box-shadow: 0 0 35px rgba(0,240,255,0.5) !important;
}
html[data-ypp-ui-style="galaxy"] #guide-wrapper.ytd-app {
  background: #101318 !important;
  border-radius: 0 16px 16px 0 !important;
  border: 1px solid rgba(0,240,255,0.3) !important;
  box-shadow: 0 0 20px rgba(0,240,255,0.2) !important;
}
html[data-ypp-ui-style="galaxy"] #guide-content.ytd-app {
  background: transparent;
}
html[data-ypp-ui-style="galaxy"] ytd-guide-section-renderer {
  border-bottom: 1px solid rgba(0,240,255,0.3) !important;
}
html[data-ypp-ui-style="galaxy"] ytd-guide-entry-renderer {
  border-radius: 16px !important;
  transition: all var(--bounce) !important;
}
html[data-ypp-ui-style="galaxy"] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer {
  background: transparent !important;
  border-radius: 16px !important;
  transition: all var(--bounce) !important;
}
html[data-ypp-ui-style="galaxy"] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover {
  background: #101318 !important;
  box-shadow: 0 0 35px rgba(0,240,255,0.5) !important;
}
html[data-ypp-ui-style="galaxy"] ytd-mini-guide-renderer.ytd-app {
  top: 70px !important;
  left: 10px !important;
}
html[data-ypp-ui-style="galaxy"] ytd-mini-guide-entry-renderer {
  margin-top: 10px !important;
  border-radius: 16px !important;
  transition: transform var(--bounce), box-shadow var(--bounce) !important;
}
html[data-ypp-ui-style="galaxy"] ytd-mini-guide-entry-renderer:hover {
  transform: scale(1.15) !important;
  box-shadow: 0 0 35px rgba(0,240,255,0.5) !important;
}
