html[data-ypp-ui-style="outrun"] * {
  scrollbar-width: thin !important;
  scrollbar-color: var(--outrun-neon-magenta) #000 !important;
}

html[data-ypp-ui-style="outrun"] ::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
  background-color: #000 !important;
  border-left: 1px solid var(--outrun-neon-cyan) !important;
}

html[data-ypp-ui-style="outrun"] ::-webkit-scrollbar-thumb {
  background: var(--outrun-neon-magenta) !important;
  border-radius: var(--outrun-r-sm) !important; /* Blocky */
  border: 1px solid #000 !important;
}

html[data-ypp-ui-style="outrun"] ::-webkit-scrollbar-thumb:hover {
  background: var(--outrun-neon-cyan) !important;
}

html[data-ypp-ui-style="outrun"] ::selection {
  background: var(--outrun-neon-cyan) !important;
  color: #000 !important;
  text-shadow: none !important;
}
