/* Flat Background */
html[data-ypp-card-style="flat"] body {
  background: var(--yt-spec-base-background) !important;
  color: var(--yt-spec-text-primary) !important;
}

/* Flat Scrollbars */
html[data-ypp-card-style="flat"] ::-webkit-scrollbar {
  width: 16px !important;
  background: var(--yt-spec-base-background) !important;
  border-left: var(--flat-border) !important;
}
html[data-ypp-card-style="flat"] ::-webkit-scrollbar-thumb {
  background: var(--yt-spec-text-primary) !important;
  border-radius: 0 !important;
}

/* Flat Skeletons */
html[data-ypp-card-style="flat"] .skeleton-bg-color,
html[data-ypp-card-style="flat"] .ytd-ghost-grid-renderer > div {
    background: var(--yt-spec-raised-background) !important;
    border-radius: 0 !important;
    border: var(--flat-border) !important;
}
