.anchored-panel.ytd-shorts {
  background: var(--sf) !important;
  padding: 5px;
  border: none !important;
  border-top: 2px solid var(--retro-border-light) !important;
  border-left: 2px solid var(--retro-border-light) !important;
  border-bottom: 2px solid var(--retro-border-dark) !important;
  border-right: 2px solid var(--retro-border-dark) !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border-top: 2px solid var(--retro-border-dark) !important;
  border-left: 2px solid var(--retro-border-dark) !important;
  border-bottom: 2px solid var(--retro-border-light) !important;
  border-right: 2px solid var(--retro-border-light) !important;
  margin-top: 15px !important;
}
ytd-engagement-panel-title-header-renderer[shorts-panel][enable-anchored-panel] #header.ytd-engagement-panel-title-header-renderer {
  border-bottom: none;
}
ytd-engagement-panel-section-list-renderer[match-content-theme] #content.ytd-engagement-panel-section-list-renderer {
  background: none !important;
}
ytd-engagement-panel-section-list-renderer:not([live-chat-engagement-panel]) {
  border: none !important;
  border-top: 2px solid var(--retro-border-light) !important;
  border-left: 2px solid var(--retro-border-light) !important;
  border-bottom: 2px solid var(--retro-border-dark) !important;
  border-right: 2px solid var(--retro-border-dark) !important;
}
#subheader.ytd-engagement-panel-title-header-renderer:not(:empty) {
  border-radius: 0 !important;
  border: none !important;
  border-top: 2px solid var(--retro-border-light) !important;
  border-left: 2px solid var(--retro-border-light) !important;
  border-bottom: 2px solid var(--retro-border-dark) !important;
  border-right: 2px solid var(--retro-border-dark) !important;
  box-shadow: none !important;
  border-top: 2px solid var(--retro-border-light) !important;
  border-left: 2px solid var(--retro-border-light) !important;
  border-bottom: 2px solid var(--retro-border-dark) !important;
  border-right: 2px solid var(--retro-border-dark) !important;
}