
/* Navbar UI for bento */
ytd-masthead { background: var(--ypp-bg-color) !important; border-bottom: none; box-shadow: 0 4px 20px rgba(0,0,0,0.08); }
ytd-searchbox #container.ytd-searchbox { border-radius: 24px 0 0 24px !important; border: none; }
ytd-searchbox #search-icon-legacy.ytd-searchbox { border-radius: 0 24px 24px 0 !important; border: none; }
#voice-search-button { border-radius: 50% !important; border: none; }
