/* src/content/themes/ui-styles/winter/pages/shorts.css */
/* Frosted Floating Buttons for Shorts */

html[data-ypp-card-style="winter"] ytd-shorts-player-controls .ytp-play-progress {
    background: var(--winter-ice-glow) !important;
    box-shadow: 0 0 10px var(--winter-ice-glow) !important;
}
html[data-ypp-card-style="winter"] ytd-shorts-player-controls .ytp-load-progress {
    background: rgba(255, 255, 255, 0.2) !important;
}
