/* Summer Tokens */
html[data-ypp-card-style="summer"] {
  --yt-spec-text-primary: #fff !important;
  --yt-spec-text-secondary: rgba(255,255,255,0.8) !important;
  --sum-grad: linear-gradient(135deg, #ff9a44 0%, #fc6076 100%) !important;
  --sum-bg: linear-gradient(45deg, #f83600 0%, #f9d423 100%) !important;
  --sum-border: 1px solid rgba(255, 200, 0, 0.4) !important;
  --sum-radius: 18px !important;
}
