/* src/content/ui-styles/gothic/components/badges.css */
html[data-ypp-ui-style="gothic"] .yt-badge-shape--thumbnail-default,
html[data-ypp-ui-style="gothic"] .ypp-badge,
html[data-ypp-ui-style="gothic"] .ypp-value-display {
  background: #1c1c1c !important;
  color: #d3d3d3 !important;
  border-radius: 0px !important;
  border: 2px solid #8b0000 !important;
  box-shadow: 0 4px 25px rgba(139,0,0,0.5) !important;
  transition: transform var(--bounce), box-shadow var(--bounce) !important;
  font-family: "Cinzel","Palatino Linotype",serif !important;
  font-weight: bold !important;
}
html[data-ypp-ui-style="gothic"] ytd-badge-supported-renderer {
  border-radius: 0px !important;
}
html[data-ypp-ui-style="gothic"] .ytProgressBarLineProgressBarLine,
html[data-ypp-ui-style="gothic"] .ytProgressBarLineProgressBarBackground,
html[data-ypp-ui-style="gothic"] .ytProgressBarLineProgressBarLoaded,
html[data-ypp-ui-style="gothic"] .ytProgressBarLineProgressBarHovered,
html[data-ypp-ui-style="gothic"] .ytProgressBarLineProgressBarPlayed,
html[data-ypp-ui-style="gothic"] .ytThumbnailOverlayProgressBarHostWatchedProgressBarSegment {
  border-radius: 0px !important;
  background-color: #cc0000 !important;
}
