/* Bento Player */
html[data-ypp-card-style="bento"] .ytp-chrome-bottom {
    background: var(--ben-surface) !important;
    border: var(--ben-border) !important;
    border-radius: 16px !important;
    margin: 16px !important;
    width: calc(100% - 32px) !important;
    box-shadow: var(--ben-shadow) !important;
}

html[data-ypp-card-style="bento"] .ytp-scrubber-button {
    background: var(--ben-surface) !important;
    border: 2px solid var(--yt-spec-text-primary) !important;
    box-shadow: var(--ben-shadow) !important;
}
