/* Discord Menus */
html[data-ypp-card-style="discord"] tp-yt-paper-dialog,
html[data-ypp-card-style="discord"] ytd-menu-popup-renderer,
html[data-ypp-card-style="discord"] ytd-multi-page-menu-renderer,
html[data-ypp-card-style="discord"] ytd-masthead {
    background: var(--dis-secondary) !important;
    border-radius: 4px !important;
    box-shadow: 0 8px 16px rgba(0,0,0,0.24) !important;
}
html[data-ypp-card-style="discord"] ytd-masthead {
    border-bottom: 1px solid rgba(0,0,0,0.2) !important;
}
