#wrapper.ytd-channel-avatar-editor {
  border-radius: 4px !important;
  box-shadow: var(--shadow-hover) !important;
}
.ytd-channel-name,
.ytd-video-meta-block {
  color: var(--vintage-secondary) !important;
  font-style: italic !important;
}
.ytd-channel-name,
.ytd-video-meta-block {
  color: var(--vintage-secondary) !important;
}
ytd-c4-tabbed-header-renderer {
  background: var(--sf) !important;
  border-radius: 4px !important;
  box-shadow: var(--shadow-base) !important;
  margin-bottom: 20px !important;
  border: var(--vintage-border) !important;
  border-top: none !important;
}
ytd-video-renderer,
ytd-channel-renderer,
ytd-playlist-renderer,
ytd-radio-renderer {
  background: rgba(128, 128, 128, 0.05) !important;
  border-radius: 4px !important;
  padding: 15px !important;
  margin-bottom: 15px !important;
  box-shadow: var(--shadow-base) !important;
  border: var(--vintage-border) !important;
  transition: transform var(--bounce), box-shadow var(--bounce) !important;
}
ytd-video-renderer:hover,
ytd-channel-renderer:hover,
ytd-playlist-renderer:hover,
ytd-radio-renderer:hover {
  transform: scale(1.02) !important;
  box-shadow: var(--shadow-hover) !important;
  background: rgba(128, 128, 128, 0.09) !important;
}

/* Channel Banner Sepia */
html[data-ypp-ui-style="vintage"] .yt-page-header-renderer,
html[data-ypp-ui-style="vintage"] ytd-c4-tabbed-header-renderer #banner {
    filter: sepia(0.3) contrast(1.1) !important;
}
