html[dark], [dark], :root {
    --yt-spec-base-background: rgba(15, 15, 15, 0.8) !important;
    --ytd-searchbox-background: rgba(17, 17, 17, 0.8) !important;
    --yt-spec-menu-background: rgba(40, 40, 40, 0.8) !important;
    --paper-tooltip-background: rgba(96, 96, 96, 0.8) !important;
    --yt-spec-raised-background: rgba(33, 33, 33, 0.8) !important;
    --yt-spec-text-primary: #fff !important;
    --yt-spec-text-secondary: #aaa !important;
    --yt-spec-text-disabled: #666 !important;
    --yt-spec-text-primary-inverse: #0f0f0f !important;
    --ytd-searchbox-legacy-border-color: rgba(50, 50, 50, 0.8) !important;
    --ytd-searchbox-legacy-button-border-color: rgba(50, 50, 50, 0.8) !important;
    --ytd-searchbox-legacy-button-color: rgba(255, 255, 255, 0.08) !important;
    --ytd-searchbox-legacy-button-hover-color: rgba(255, 255, 255, 0.1) !important;
    --yt-spec-static-overlay-background-heavy: rgba(25, 25, 25, 0.8) !important;
    --yt-live-chat-vem-background-color: rgba(60, 60, 60, 0.8) !important;
    --yt-spec-10-percent-layer: rgba(40, 40, 40, 0.8) !important;
    --yt-spec-red-indicator: var(--paper-tooltip-background) !important;
    --yt-lightsource-section2-color: var(--yt-spec-menu-background) !important;
    --yt-frosted-glass-desktop: rgba(15, 15, 15, 0.8);
    --paper-radio-button-checked-color: #fff;
    --yt-spec-frosted-glass-desktop: rgba(15, 15, 15, 0.8) !important;
    
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
}

html[dark] {
    background: var(--yt-spec-base-background) !important;
}
#home-container-skeleton, #guide-skeleton, #home-chips, ytd-masthead.shell.dark, ytd-masthead.shell.theater {
    background: var(--yt-spec-base-background) !important;
}

html[dark] .watch-skeleton .skeleton-bg-color {
    background: rgba(40, 40, 40, 0.8) !important;
}
.ytp-popup {
    background: rgba(15, 15, 15, 0.9) !important;
}
.masthead-skeleton-icon {
    background: rgba(40, 40, 40, 0.8) !important;
}
.ytSearchboxComponentInputBoxDark {
    background-color: var(--ytd-searchbox-background) !important;
    border-color: var(--ytd-searchbox-legacy-border-color) !important;
}
.ytSearchboxComponentSearchButtonDark {
    border-color: var(--ytd-searchbox-legacy-button-border-color) !important;
}
.ytSearchboxComponentSuggestionsContainer {
    background-color: var(--yt-spec-menu-background) !important;
}
yt-page-navigation-progress[enable-refresh-signature-moments-web] #progress.yt-page-navigation-progress {
    background: linear-gradient(to right,var(--paper-tooltip-background) 80%,var(--yt-spec-text-secondary) 100%) !important;
}
.ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox {
    background-color: var(--paper-tooltip-background) !important;
}
.yt-tab-shape-wiz__tab, .yt-tab-group-shape-wiz__slider, .truncated-text-wiz, .page-header-view-model-wiz__page-header-content-metadata, .yt-lockup-metadata-view-model-wiz__metadata {
    color: var(--yt-spec-text-secondary) !important;
}
#tabs-divider.ytd-tabbed-page-header {
    border-color: var(--yt-spec-text-secondary) !important;
}
.collections-stack-wiz__collection-stack1 {
    background-color: var(--yt-spec-menu-background) !important ;
}
.collections-stack-wiz__collection-stack2 {
    background-color: var(--paper-tooltip-background) !important ;
}
ytd-expandable-metadata-renderer {
    --yt-lightsource-section2-color: var(--yt-spec-menu-background) !important;
}
.html5-video-player {
    background: var(--yt-spec-base-background) !important;
}
#cinematics-container {
    display: none !important;
}
.ytContextualSheetLayoutHost {
    background: var(--yt-spec-menu-background) !important;
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text {
    color: #fff !important;
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text:hover {
    background: rgba(255, 255, 255, 0.25) !important;
}

.ytChipsShelfViewModelGradientButton .ytChipsShelfViewModelRightArrowContainer::before {
    --bg-0: rgba(from var(--yt-spec-base-background) r g b / 0%);
    --bg-30: rgba(from var(--yt-spec-base-background) r g b / 30%);
    --bg-60: rgba(from var(--yt-spec-base-background) r g b / 60%);
    --bg-90: rgba(from var(--yt-spec-base-background) r g b / 90%);
    --bg-100: rgba(from var(--yt-spec-base-background) r g b / 100%);
    background: linear-gradient(to right,var(--bg-0) 0, var(--bg-30) 25%, var(--bg-60) 50%, var(--bg-90) 75%, var(--bg-100) 100%) !important;
}
.ytChipsShelfViewModelGradientButton .ytChipsShelfViewModelLeftArrow, .ytChipsShelfViewModelGradientButton .ytChipsShelfViewModelRightArrow {
    background: var(--yt-spec-base-background) !important;
}
