/* src/content/ui-styles/vaporwave/components/cards.css */
html[data-ypp-ui-style="vaporwave"] ytd-rich-grid-media,
html[data-ypp-ui-style="vaporwave"] ytd-compact-video-renderer,
html[data-ypp-ui-style="vaporwave"] ytd-playlist-panel-video-renderer,
html[data-ypp-ui-style="vaporwave"] ytd-video-renderer,
html[data-ypp-ui-style="vaporwave"] ytd-grid-video-renderer {
  border: 2px solid #ff71ce !important;
  background: #200e38 !important;
  padding: 10px !important;
  margin-bottom: 16px !important;
  border-radius: 12px !important;
  transition: all var(--bounce) !important;
  box-shadow: 0 0 20px rgba(255,113,206,0.4) !important;
  position: relative;
  overflow: hidden;
}
html[data-ypp-ui-style="vaporwave"] ytd-rich-item-renderer {
  background: #200e38 !important;
  border-radius: 12px !important;
  border: 2px solid #ff71ce !important;
  box-shadow: 0 0 20px rgba(255,113,206,0.4) !important;
  transition: all var(--bounce) !important;
  margin-bottom: 8px !important;
}
html[data-ypp-ui-style="vaporwave"] ytd-thumbnail,
html[data-ypp-ui-style="vaporwave"] #thumbnail {
  border-radius: 12px !important;
  border: 2px solid #ff71ce !important;
  overflow: hidden !important;
}
html[data-ypp-ui-style="vaporwave"] ytd-reel-video-renderer {
  background: #200e38 !important;
  border-radius: 12px !important;
  box-shadow: 0 0 20px rgba(255,113,206,0.4) !important;
  border: 2px solid #ff71ce !important;
  overflow: hidden !important;
}
html[data-ypp-ui-style="vaporwave"] ytd-playlist-panel-video-renderer.ytd-playlist-panel-renderer {
  border-radius: 12px !important;
  padding: 10px !important;
  transition: transform var(--bounce), box-shadow var(--bounce) !important;
  margin: 5px 0 !important;
}
html[data-ypp-ui-style="vaporwave"] ytd-playlist-panel-video-renderer:hover {
  box-shadow: 0 0 35px rgba(255,113,206,0.7),0 0 70px rgba(1,205,254,0.3) !important;
  transform: translateX(4px) !important;
}
html[data-ypp-ui-style="vaporwave"] ytd-macro-markers-list-item-renderer {
  border-radius: 12px !important;
  margin: 5px;
  border: 2px solid #ff71ce !important;
  transition: transform var(--bounce), box-shadow var(--bounce) !important;
}
html[data-ypp-ui-style="vaporwave"] ytd-macro-markers-list-item-renderer:hover {
  transform: scale(1.02) !important;
  box-shadow: 0 0 35px rgba(255,113,206,0.7),0 0 70px rgba(1,205,254,0.3) !important;
}
html[data-ypp-ui-style="vaporwave"] ytd-unified-share-panel-renderer,
html[data-ypp-ui-style="vaporwave"] ytd-add-to-playlist-renderer {
  background: #200e38 !important;
  border-radius: 12px !important;
  box-shadow: 0 0 35px rgba(255,113,206,0.7),0 0 70px rgba(1,205,254,0.3) !important;
  border: 2px solid #ff71ce !important;
}
html[data-ypp-ui-style="vaporwave"] ytd-settings-options-renderer,
html[data-ypp-ui-style="vaporwave"] ytd-account-settings-renderer {
  background: #200e38 !important;
  border-radius: 12px !important;
  box-shadow: 0 0 20px rgba(255,113,206,0.4) !important;
  padding: 25px !important;
  border: 2px solid #ff71ce !important;
}
html[data-ypp-ui-style="vaporwave"] ytd-rich-grid-slim-media #dismissible,
html[data-ypp-ui-style="vaporwave"] ytd-reel-item-renderer #dismissible {
  transition: all var(--bounce) !important;
  border-radius: 12px !important;
  border: 2px solid transparent !important;
}
html[data-ypp-ui-style="vaporwave"] ytd-rich-grid-slim-media:hover #dismissible,
html[data-ypp-ui-style="vaporwave"] ytd-reel-item-renderer:hover #dismissible {
  background: #200e38 !important;
  box-shadow: 0 0 35px rgba(255,113,206,0.7),0 0 70px rgba(1,205,254,0.3) !important;
  transform: scale(1.04) !important;
}
html[data-ypp-ui-style="vaporwave"] ytd-expandable-metadata-renderer {
  padding: 5px !important;
  border-radius: 12px !important;
  border: 2px solid #ff71ce !important;
}
html[data-ypp-ui-style="vaporwave"] ytd-expandable-metadata-renderer:hover {
  box-shadow: 0 0 35px rgba(255,113,206,0.7),0 0 70px rgba(1,205,254,0.3) !important;
}
html[data-ypp-ui-style="vaporwave"] #contents.ytd-rich-grid-renderer {
  margin-left: 24px !important;
  margin-right: 12px !important;
}
