
/* Search for cherry */
ytd-video-renderer { border-radius: 50px; border: 3px dashed #ffb7b2; box-shadow: 0 4px 15px rgba(255, 183, 178, 0.6); padding: 16px; }
ytd-toggle-button-renderer a { border-radius: 50px; border: 3px dashed #ffb7b2; }
