/* gothic/theme/base/tokens.css */
html[data-ypp-ui-style="gothic"] {
  /* Popup/Extension theme mirror */
  --ypp-bg-base:    #121212;
  --ypp-bg-surface: #1c1c1c;
  --ypp-accent:     #cc0000;
  --ypp-text-primary: #d3d3d3;
  --ypp-text-secondary: #888888;
}
