/* Token Overrides for vaporwave */
:root[data-ypp-ui-design="vaporwave"],
html[data-ypp-ui-style="vaporwave"] {
  --ypp-bg-surface: #1a0a2e !important;
  --ypp-bg-surface-hover: rgba(0, 0, 0, 0.5) !important;
  --ypp-bg-surface-active: rgba(0, 0, 0, 0.5) !important;
  
  --ypp-primary-accent: #6b2fa0 !important;
  --ypp-text-primary: #1a8fa0 !important;
  
  --ypp-surface-border: 1px solid  var(--ypp-surface-border, #6b2fa040) !important;
  --ypp-shadow-base: 0 4px 12px #6b2fa020 !important;
  --ypp-shadow-hover: 0 8px 24px #6b2fa040 !important;
  
  --yt-font-family: var(--ypp-font-primary, "Syncopate","Audiowide",sans-serif) !important;
}


html[data-ypp-ui-style="vaporwave"] * {
  font-family: var(--ypp-font-primary, "Syncopate","Audiowide",sans-serif) !important;
}

