/* src/content/ui-styles/grunge/pages/shorts.css */
html[data-ypp-ui-style="grunge"] ytd-shorts,
html[data-ypp-ui-style="grunge"] #shorts-container {
  background: #2b2b2b !important;
}
html[data-ypp-ui-style="grunge"] ytd-reel-video-renderer {
  background: #333333 !important;
  border-radius: 2px !important;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.7) !important;
  border: 1px dashed #8a9a5b !important;
  overflow: hidden !important;
}
html[data-ypp-ui-style="grunge"] ytd-reel-player-overlay-renderer {
  background: transparent !important;
}
html[data-ypp-ui-style="grunge"] #actions.ytd-reel-player-overlay-renderer ytd-button-renderer {
  background: #333333 !important;
  border-radius: 50% !important;
  border: 1px dashed #8a9a5b !important;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.7) !important;
  margin-bottom: 12px !important;
  transition: all var(--bounce) !important;
}
html[data-ypp-ui-style="grunge"] #actions.ytd-reel-player-overlay-renderer ytd-button-renderer:hover {
  box-shadow: 2px 2px 0 #111 !important;
  transform: scale(1.1) !important;
}
html[data-ypp-ui-style="grunge"] ytd-reel-item-renderer {
  border-radius: 2px !important;
  border: 1px dashed #8a9a5b !important;
  overflow: hidden !important;
  transition: all var(--bounce) !important;
}
html[data-ypp-ui-style="grunge"] ytd-reel-item-renderer:hover {
  box-shadow: 2px 2px 0 #111 !important;
}
