/* Colorize Player */
html[data-ypp-card-style="colorize"] .ytp-chrome-bottom {
    background: var(--col-surface) !important;
    border: 2px solid transparent !important;
    border-radius: 12px !important;
    margin: 8px !important;
    width: calc(100% - 16px) !important;
    animation: rgbBorder 5s infinite linear !important;
}
html[data-ypp-card-style="colorize"] .ytp-play-progress { animation: rgbBg 5s infinite linear !important; }
html[data-ypp-card-style="colorize"] .ytp-scrubber-button {
    background: #fff !important;
    border: 3px solid transparent !important;
    border-radius: 50% !important;
    animation: rgbBorder 5s infinite linear !important;
}
