/* Theme: christmas */
html[data-ypp-theme="christmas"] {
  --ypp-bg-base: #165016 !important;
  --ypp-bg-surface: #195c19 !important;
  --ypp-text-primary: #ffffff !important;
  --ypp-text-secondary: rgba(255,255,255,0.7) !important;
}
