/* Token Overrides for blue-sky */
:root[data-ypp-ui-design="blue-sky"],
html[data-ypp-ui-style="blue-sky"] {
  --ypp-surface-bg: var(--sky-bg-base) !important;
  --ypp-surface-bg-hover: rgba(0, 0, 0, 0.5) !important;
  --ypp-surface-bg-active: rgba(0, 0, 0, 0.5) !important;
  
  --ypp-primary-accent: #87CEFA !important;
  --ypp-text-primary: var(--sky-text-secondary) !important;
  
  --ypp-surface-border: 1px solid  var(--ypp-surface-border, #87CEFA40) !important;
  --ypp-shadow-base: 0 4px 12px #87CEFA20 !important;
  --ypp-shadow-hover: 0 8px 24px #87CEFA40 !important;
  
  
}


